@model AuthViewModel
@{
   ViewData["Title"] = "Forgot Password";
}

<h1 class="display-4 text-center">Forgot Password</h1>
<div class="card">
   <div class="card-body">
      <form asp-action="ForgotPassword" method="post">
         @Html.AntiForgeryToken()
         @Html.ValidationSummary()

         <div class="mb-3">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" type="email" class="form-control" required />
         </div>
         <div class="text-end">
            <button type="submit" class="btn btn-primary">Submit</button>
         </div>
      </form>
   </div>
</div>