services:
  webapp:
    build:
      context: .
    image: 'expensewise-1:latest'
    ports:
      - 8080:8080
    networks:
      - network
    depends_on:
      - mysql
  mysql:
    image: 'mysql:8.0'
    ports:
      - '${FORWARD_DB_PORT:-3306}:3306'
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      TZ: 'America/Phoenix'
    command: [ 'mysqld', '--character-set-server=utf8mb4', '--collation-server=utf8mb4_unicode_ci', '--default-time-zone=-07:00' ]
    volumes:
      - 'expensewise-mysql:/var/lib/mysql'
    networks:
      - network
    healthcheck:
      test: [ 'CMD', 'mysqladmin', 'ping', '-p${DB_PASSWORD}' ]
      retries: 3
      timeout: 5s
networks:
  network:
    driver: bridge
volumes:
  expensewise-mysql:
    driver: local
