@model GroupInviteViewModel
@{
   ViewData["Title"] = "Invite to Group";
}

<h1 class="display-4 text-center">Invite to Group</h1>
<div class="card">
   <div class="card-body">
      @if (Model?.Group != null)
      {
         <h2>@Model.Group.Name</h2>
         <form asp-action="" method="post">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary()

            <div class="mb-3">
               <label asp-for="Name" class="form-label">Name</label>
               <input asp-for="Name" class="form-control" type="text" placeholder="John Doe" required />
            </div>
            <div class="mb-3">
               <label asp-for="Phone" class="form-label">Phone</label>
               <input asp-for="Phone" class="form-control" type="text" placeholder="+1 (602) 333-4567" required />
            </div>
            <div class="d-grid">
               <button type="submit" class="btn btn-primary">Send</button>
            </div>

            <input asp-for="Group.UniqueKey" type="hidden" />
         </form>
      }
      else
      {
         <div class="alert alert-warning mb-0">
            <p class="text-center text-md-start mb-0">Unable to find group.</p>
         </div>
      }
   </div>
</div>